@charset "utf-8";
body,ul,p,h1,h2,h3,dl,dt,dd,li,input,textarea,button{
  margin:0;
  padding:0;
  word-break:break-all;
}
body{
  /*text-align:left;*/
  font-family: Microsoft Yahei;
  /*font-size-adjust:none;*/
  /*-webkit-text-size-adjust:none;*/
  /*color: #454545;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100%;
}
ul,li,dl,dt,dd{
  list-style:none;
}
a,a:visited{
  text-decoration:none;
  color:#666;
}
em,var{
  font-style: normal;
}
*{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type='button'] {
  -webkit-appearance:none; /*去除input默认样式*/
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:#aeaeae;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#aeaeae;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#aeaeae;
}
::-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#aeaeae;
}

input{
  outline:none;
}
input[disabled="true"]{
  background-color:transparent;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}
input,textarea,select{
  -webkit-appearance: none;
  background-color: #fff;
  border: none;
}
body {
  background-color: #fff;
  overflow-x:hidden;
}
html,body{
  height: 100%;
}
/*  全局隐藏CLASS */
.hide{display: none;}

.clearfix{
	zoom: 1;
}
.clearfix:after {
  clear:both;
  height:0;
  overflow:hidden;
  display:block;
  visibility:hidden;
  content:".";
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.overHidden{
	overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
